.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: var(--spacing-lg)
}

img {
    width: 100%;
    border-radius: var(--radius-md);
    margin-bottom: var(--spacing-md);
}