.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: var(--spacing-lg);
}

app-card {
    display: flex;
}

.price {
    margin-bottom: var(--spacing-md);
    font-weight: bold;
}